
body {
    background-color: black;
}

.content{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f9f9f9;
}

.lables {
    text-align: center;
    width: 350px;
    padding: 20px;
    margin: 50px auto;
    background-color: #f9f9f9;
    border: 2px sold #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* From Uiverse.io by Botwe-Felix5820 */ 
button {
    height: 2em;
    width: 4em;
    border: none;
    border-radius: 10em;
    background: #016DD9;
    font-size: 13px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
   }
   
   button:hover {
    animation: shake3856 0.3s linear infinite both;
   }
   
   @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }
   
  
  